@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: scroll;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

#productReviewHolder{
    display: flex;
    height: 55%;
    width: 33%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
}

#productImage{
    height: 100%;
    float: left;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 50%;
}

#productInfo{
    float: right;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#category{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: 100;
    color: hsl(228, 12%, 48%);
}

#productName{
    font-family: 'Fraunces', serif;
    font-weight: 1000;
    margin: 0;
    color: hsl(212, 21%, 14%);
}

p{
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

#price{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
}

#discount{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size:30px;
    margin-right:10px;
}

#ogPrice{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

#addToCart{
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    transition:500ms;
}

#addToCart:hover{
    transform:translate(0px,-5px);
    filter: drop-shadow(5px 5px 10px darkgray);
}

#cartIcon{
    width: 20px;
    margin-right: 10px;
}